a {
    text-decoration: none;
    color:inherit
}

ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img {
    display: block;
}

address {
    font-style: normal;
}

button {
    cursor: pointer;
}

body {
    font-family: "Roboto", sans-serif;
    color: #2c2c2c;
    background-color: #ffffff;
}

.container {
    width: 1260px;
    padding: 0 16px;
    margin: 0 auto;
}


/* =================== Header ================= */
.header .container {
    display: flex;
}

.logo {
}
.nav {
}
.nav-list {
    display: flex;
}
.nav-list-item {
}
.nav-link {
}
/* =================== /Header ================= */
